<section class="bose" >
  <div class="bose__wrap" id="bose">
    <h2 class="bose__title">bose nc 700</h2>
    <div id="bose__slider" class="splide" aria-labelledby="carousel-heading">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
          <div class="splide__arrow--circle splide__arrow--circle--prev"></div>
        </button>
        <button class="splide__arrow splide__arrow--next">
          <div class="splide__arrow--circle splide__arrow--circle--next"></div>
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <picture class="bose__picture">
              <source
                media="(min-width: 1440px)"
                srcset="./images/images-desk/headphones-black-right.png"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/images-tab/headphones-black-right.png"
              />
              <img
                src="./images/images-mob/headphones-black-right.png"
                alt=""
              />
            </picture>
          </li>
          <li class="splide__slide">
            <picture class="bose__picture">
              <source
                media="(min-width: 1440px)"
                srcset="./images/images-desk/headphones-white-right.png"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/images-tab/headphones-white-right.png"
              />
              <img
                src="./images/images-mob/headphones-white-right.png"
                alt=""
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="bose__wraps">
      <div class="bose__wrapper">
        <ul class="bose__list">
          <li class="bose__item">
            <a href="" class="bose__link"
              >Availability in stores
              <svg class="bose__svg" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-up-arrow"></use></svg></a>
          </li>
          <li class="bose__item">
            <a href="" class="bose__link">
              Characteristics
              <svg class="bose__svg" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-up-arrow"></use></svg></a>
          </li>
          <li class="bose__item">
            <a href="" class="bose__link"
              >Payment and delivery methods
              <svg class="bose__svg" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-up-arrow"></use></svg></a>
          </li>
        </ul>
        <p class="bose__price">14 999 UAH</p>
        <div>
          <button class="bose__button">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
