<section class="capable_section">
  <div class="container center-capable-div" id="capable">
    <div class="title_capable_center">
      <h2 class="capable-title">capable of so much</h2>
    </div>
    <ul class="capable-list">
      <li class="capable-item">Ability to receive calls</li>
      <li class="capable-item">Rich and powerful sound</li>
      <li class="capable-item">Active noise cancellation option</li>
      <li class="capable-item">Unsurpassed microphone system</li>
      <li class="capable-item">Support of voice assistants</li>
      <li class="capable-item">Bose AR Augmented Reality Audio Platform</li>
    </ul>
  </div>
</section>
