<footer class="footer">
  <div class="footer__footer-wrap">
    <div class="footer-wrap__footer-wrapper">
      <div class="footer-wrapper__footer-wrap-content">
        <div
          class="footer-wrap-content_footer-wrap footer-wrap-content_footer-wrap--first"
        >
          <a href="#capable" class="footer-wrap__link">Characteristics</a>
          <a href="#history" class="footer-wrap__link">History</a>
          <a href="#reviews" class="footer-wrap__link">Reviews</a>
        </div>
        <div
          class="footer-wrap-content_footer-wrap footer-wrap-content_footer-wrap--second"
        >
          <a href="#bose" class="footer-wrap__link">Payment and delivery</a>
          <a href="#feedback" class="footer-wrap__link">Store addresses</a>
          <a href="#faq" class="footer-wrap__link">FAQ</a>
        </div>
      </div>
      <a href="tel:88001111111" class="footer-wrapper__tel"
        >8 (800) 111-11-11</a
      >
    </div>
  </div>
</footer>
