<header class="header-box">
  <div class="header__wrapper">
    <div class="header__wrap-h">
      <div class="wrap-h__wrap">
        <div class="wrap-h__wrapper">
          <a href="./index.html" class="logo">
            <svg class="logo__svg">
              <use href="./images/symbol-defs.svg#icon-logo"></use>
            </svg>
          </a>
          <ul class="wrap-h__list-h desk">
            <li class="list-h__item-h">
              <a href="#capable" class="item-h__link">Characteristics</a>
            </li>
            <li class="list-h__item-h">
              <a href="#history" class="item-h__link">History</a>
            </li>
            <li class="list-h__item-h">
              <a href="#reviews" class="item-h__link">Reviews</a>
            </li>
            <li class="list-h__item-h">
              <a href="#bose" class="item-h__link">Payment and delivery</a>
            </li>
          </ul>
          <div class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="menu dotted">
        <nav class="menu__nav">
          <ul class="wrap-h__list-h">
            <li class="list-h__item-h">
              <a href="#capable" class="item-h__link" id="btn-menu-mob">Characteristics</a>
            </li>
            <li class="list-h__item-h">
              <a href="#history" class="item-h__link">History</a>
            </li>
            <li class="list-h__item-h">
              <a href="#reviews" class="item-h__link">Reviews</a>
            </li>
            <li class="list-h__item-h">
              <a href="#bose" class="item-h__link">Payment and delivery</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>