<section class="premium_section">
  <div class="container center-premium">
    <div class="center-premium-img">
      <picture>
        <source
          srcset="./images/images-desk/premium-headphones.jpg"
          media="(min-width:1440px)"
        />
        <source
          srcset="./images/images-tab/premium-headphones.jpg"
          media="(min-width: 768px)"
        />
        <img
          src="./images/images-mob/premium-headphones.jpg"
          alt="premium-img"
        />
      </picture>
    </div>
    <div class="center-premium-content">
      <h2 class="premium-title">Premium design and comfort</h2>
      <ul class="premium-list">
        <li class="premium-list-item">
          <h3 class="premium-item-title">11 levels of noise reduction</h3>
          <p class="premium-item-text">
            With the new Bose Noise Canceling Headphone 700, you can smoothly
            increase or decrease the level of noise cancellation. You can be
            heard perfectly and you hear the interlocutor clearly, even in a
            noisy environment!
          </p>
        </li>
        <li class="premium-list-item">
          <h3 class="premium-item-title">Comfort up to max level</h3>
          <p class="premium-item-text">
            Stylish, lightweight stainless steel headband with soft, angled cups
            of headphones for comfortable seating. The inner side is made of
            soft gel lining that fits well to the head.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
