<section class="reviews" >
  <div class="container reviews__wrap " id="reviews">
    <div class="slider-container">
      <div class="slider">
        <div class="slide">
          <div class="reviews-slide__wrap">
            <h2 class="reviews__title denide">reviews</h2>
            <video
              class="reviews__video"
              type="video/mp4"
              controls
              src="./video/slide-first.mp4"
            ></video>
            <div class="reviews__wraps">
              <div class="reviews__wrapper">
                <div class="reviews__wrappers">
                  <h2 class="reviews__title">reviews</h2>
                  <a
                    class="reviews__link"
                    href="https://www.youtube.com/watch?v=VqP11Ma_2Fk&ab_channel=Bose"
                    >Bose Сorporation</a
                  >
                  <p class="reviews__subtitle">
                    Critically acclaimed for their powerful noise cancelling,
                    astonishing sound, and unrivaled voice pickup, Bose Noise
                    Cancelling Headphones 700 help turn any space into the
                    perfect place to listen to music, get work done, or just
                    shut out the world for a few moments and relax
                  </p>
                </div>
                <ul class="reviews__list">
                  <li class="reviews__item">
                    <p class="reviews__number actives">01</p>
                    <svg width="5" height="25" class="reviews__svg actives">
                      <use href="./images/symbol-defs.svg#icon-dashes"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">02</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dashes"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">03</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dashes"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">04</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dashes"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="reviews-slide__wrap">
            <h2 class="reviews__title denide">reviews</h2>
            <video
              class="reviews__video"
              type="video/mp4"
              controls
              src="./video/slide-second.mp4"
            ></video>
            <div class="reviews__wraps">
              <div class="reviews__wrapper">
                <div class="reviews__wrappers">
                  <h2 class="reviews__title">reviews</h2>
                  <a
                    class="reviews__link"
                    href="https://www.youtube.com/watch?v=BUyLpf-u97Y&ab_channel=Bose"
                    >Bose Сorporation</a
                  >
                  <p class="reviews__subtitle">
                    Bose Noise Cancelling Headphones 700 deliver everything you
                    expect — and things you never imagined possible. The perfect
                    balance of quiet, comfort, and sound
                  </p>
                </div>
                <ul class="reviews__list">
                  <li class="reviews__item">
                    <p class="reviews__number">01</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dashes"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number actives">02</p>
                    <svg width="5" height="25" class="reviews__svg actives">
                      <use href="./images/symbol-defs.svg#icon-dashes"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">03</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dash"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">04</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dash"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="reviews-slide__wrap">
            <h2 class="reviews__title denide">reviews</h2>
            <video
              class="reviews__video"
              type="video/mp4"
              controls
              src="./video/slide-third.mp4"
            ></video>
            <div class="reviews__wraps">
              <div class="reviews__wrapper">
                <div class="reviews__wrappers">
                  <h2 class="reviews__title">reviews</h2>
                  <a
                    class="reviews__link"
                    href="https://www.youtube.com/watch?v=NgtznBDFRUo&ab_channel=Bose"
                    >Bose Сorporation</a
                  >
                  <p class="reviews__subtitle">
                    Real stories of people tuning in or out to feel peace, find
                    escape, and for self-care
                  </p>
                </div>
                <ul class="reviews__list">
                  <li class="reviews__item">
                    <p class="reviews__number">01</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dash"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">02</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dash"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number actives">03</p>
                    <svg width="5" height="25" class="reviews__svg actives">
                      <use href="./images/symbol-defs.svg#icon-dash"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <p class="reviews__number">04</p>
                    <svg width="5" height="25" class="reviews__svg">
                      <use href="./images/symbol-defs.svg#icon-dash"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
