<section class="reviews" >
  <div class="container reviews__wrap " id="reviews">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h2 class="reviews__title denide">reviews</h2>
          <video
            class="reviews__video"
            type="video/mp4"
            controls
            src="./video/slide-first.mp4"
          ></video>
          <div class="reviews__wraps">
            <div class="reviews__wrapper">
              <div class="reviews__wrappers">
                <h2 class="reviews__title">reviews</h2>
                <a
                  class="reviews__link"
                  href="https://www.youtube.com/watch?v=VqP11Ma_2Fk&ab_channel=Bose"
                  >Bose Сorporation</a
                >
                <p class="reviews__subtitle">
                  Critically acclaimed for their powerful noise cancelling,
                  astonishing sound, and unrivaled voice pickup, Bose Noise
                  Cancelling Headphones 700 help turn any space into the
                  perfect place to listen to music, get work done, or just
                  shut out the world for a few moments and relax
                </p>
              </div>
              <ul class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <h2 class="reviews__title denide">reviews</h2>
          <video
            class="reviews__video"
            type="video/mp4"
            controls
            src="./video/slide-second.mp4"
          ></video>
          <div class="reviews__wraps">
            <div class="reviews__wrapper">
              <div class="reviews__wrappers">
                <h2 class="reviews__title">reviews</h2>
                <a
                  class="reviews__link"
                  href="https://www.youtube.com/watch?v=BUyLpf-u97Y&ab_channel=Bose"
                  >Bose Сorporation</a
                >
                <p class="reviews__subtitle">
                  Bose Noise Cancelling Headphones 700 deliver everything you
                  expect — and things you never imagined possible. The perfect
                  balance of quiet, comfort, and sound
                </p>
              </div>
              <ul class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <h2 class="reviews__title denide">reviews</h2>
          <video
            class="reviews__video"
            type="video/mp4"
            controls
            src="./video/slide-third.mp4"
          ></video>
          <div class="reviews__wraps">
            <div class="reviews__wrapper">
              <div class="reviews__wrappers">
                <h2 class="reviews__title">reviews</h2>
                <a
                  class="reviews__link"
                  href="https://www.youtube.com/watch?v=NgtznBDFRUo&ab_channel=Bose"
                  >Bose Сorporation</a
                >
                <p class="reviews__subtitle">
                  Real stories of people tuning in or out to feel peace, find
                  escape, and for self-care
                </p>
              </div>
              <ul class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <h2 class="reviews__title denide">reviews</h2>
          <video
            class="reviews__video"
            type="video/mp4"
            controls
            src="./video/slide-first.mp4"
          ></video>
          <div class="reviews__wraps">
            <div class="reviews__wrapper">
              <div class="reviews__wrappers">
                <h2 class="reviews__title">reviews</h2>
                <a
                  class="reviews__link"
                  href="https://www.youtube.com/watch?v=VqP11Ma_2Fk&ab_channel=Bose"
                  >Bose Сorporation</a
                >
                <p class="reviews__subtitle">
                  Critically acclaimed for their powerful noise cancelling,
                  astonishing sound, and unrivaled voice pickup, Bose Noise
                  Cancelling Headphones 700 help turn any space into the
                  perfect place to listen to music, get work done, or just
                  shut out the world for a few moments and relax
                </p>
              </div>
              <ul class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <h2 class="reviews__title denide">reviews</h2>
          <video
            class="reviews__video"
            type="video/mp4"
            controls
            src="./video/slide-second.mp4"
          ></video>
          <div class="reviews__wraps">
            <div class="reviews__wrapper">
              <div class="reviews__wrappers">
                <h2 class="reviews__title">reviews</h2>
                <a
                  class="reviews__link"
                  href="https://www.youtube.com/watch?v=BUyLpf-u97Y&ab_channel=Bose"
                  >Bose Сorporation</a
                >
                <p class="reviews__subtitle">
                  Bose Noise Cancelling Headphones 700 deliver everything you
                  expect — and things you never imagined possible. The perfect
                  balance of quiet, comfort, and sound
                </p>
              </div>
              <ul class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <h2 class="reviews__title denide">reviews</h2>
          <video
            class="reviews__video"
            type="video/mp4"
            controls
            src="./video/slide-third.mp4"
          ></video>
          <div class="reviews__wraps">
            <div class="reviews__wrapper">
              <div class="reviews__wrappers">
                <h2 class="reviews__title">reviews</h2>
                <a
                  class="reviews__link"
                  href="https://www.youtube.com/watch?v=NgtznBDFRUo&ab_channel=Bose"
                  >Bose Сorporation</a
                >
                <p class="reviews__subtitle">
                  Real stories of people tuning in or out to feel peace, find
                  escape, and for self-care
                </p>
              </div>
              <ul class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
  <script type="module" src="./js/slider.js"></script>
</section>
