.menu-btn {
  width: 22px;
  height: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.menu-btn span {
  width: 18px;
  height: 1px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
.menu {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1000px;
  padding-top: 100px;
  padding-left: 20px;
  background: #191919;
  transform: translateY(-150%);
  transition: transform 0.5s;
  z-index: 1;
}
.menu.active {
  transform: translateY(0);
}
.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menu__nav {
  width: 452px;
}

@media screen and (min-width: 768px) {
  .menu {
    box-shadow: 0px 20px 80px 0px #191919;
    height: auto;
    padding-bottom: 100px;
  }
  .menu__nav {
    width: 610px;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    display: none;
  }
  .menu-btn {
    display: none;
  }
}
