.swiper-container {
  height: 535px;
  margin: 0 0px;
  position: static;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 0;

  @media screen and (min-width: 768px) {
    & {
      height: calc(80vh - 120px);
      margin: 0 60px;
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      height: calc(120vh - 120px);
    }
  }
  @media screen and (min-width: 1440px) {
    & {
      height: calc(100vh - 120px);
      margin: 0 0;
    }
  }
}
.swiper-slide {
  overflow: hidden;
  width: 280px;
  height: 520px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    & {
      width: 648px;
      height: auto;
    }
  }
  @media screen and (min-width: 1440px) {
    & {
      flex-direction: row;
      width: 1328px;
      align-items: center;
    }
  }
}
.slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  // background-size: cover;
  // background-position: center;
}
.reviews__wrapper .swiper-pagination {
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: flex;
  gap: 14px;
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  width: 43px;
  height: 26px;
  border-radius: 0%;
  background: none;
  opacity: 0.2;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  visibility: visible;

  color: #df3d3a;
  fill: #df3d3a;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  transition: all 1s;
}
.swiper-pagination-bullet::after {
  content: "";
  display: block;
  background-color: #df3d3a;
  width: 5px;
  height: 2px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: none;
}
.swiper-pagination-bullet:last-child::after {
  visibility: hidden;
}