@use "../utils/functions" as fn;

.premium_section {
  background: fn.get-color('dark-primary');
}
.center-premium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding-top: 52px;

  @media screen and (min-width: 768px) {
    align-items: start;
    flex-direction: row;
    padding-top: 100px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 170px;
  }
}
.center-premium-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  padding-top: 52px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 60px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 150px;
  }
}
.premium-title {
  color: fn.get-color('light-primary');
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 206px;
  margin-bottom: 32px;
  @media screen and (min-width: 1440px) {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    width: 464px;
  }
}
.premiun-item-text{
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 145%;
  }
  @media screen and (min-width: 1440px) {
    line-height: 145%;
    font-size: 20px;
    width: 510px;
  }
}
.premium-item-title {
  color: fn.get-color('light-primary');
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%; /* 25px */
  padding-bottom: 16px;

  @media screen and (min-width: 1440px) {
    font-size: 28px;
    width: 412px;
  }
}
.premium-item-text:nth-child(2) {
  padding-bottom: 24px;
}
.premium-item-text {
  color: fn.get-color-with-opacity('white', 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  width: 280px;
}
